<h1>Editing access_level</h1>

<%= error_messages_for :access_level %>

<% form_for(:access_level, :url => access_level_path(@access_level), :html => { :method => :put }) do |f| %>
  <p>
    <b>Access level</b><br />
    <%= f.text_field :access_level %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', access_level_path(@access_level) %> |
<%= link_to 'Back', access_levels_path %>