Please select a report to run:
<% form_tag(:action => :index) do -%>
  <p>
   <%= select(:id, :selection, ["Vacancy"], {:include_blank=> true},{:onchange => "JavaScript:submit()"})%>
  </p>  
<% end -%>
<HR>
<%= render :partial => @results%>
