<h2>Custody Types</h2>

<table>
  <tr>
    <th>Type</th>
    <th>Description</th>
    <th></th>
  </tr>
  
<% for custody_type in @custody_types %>
  <tr>
    <td><%=h custody_type.custody_type %></td>
    <td><%=h custody_type.description %></td>
    <td><%= link_to 'Show', custody_type_path(custody_type) %>
    <%= link_to 'Edit', edit_custody_type_path(custody_type) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Custody Type', new_custody_type_path %>