<p>
  <b>Type:</b>
  <%=h @custody_type.custody_type %>
</p>

<p>
  <b>Description:</b>
  <%=h @custody_type.description %>
</p>


<%= link_to 'Edit', edit_custody_type_path(@custody_type) %> |
<%= link_to 'Back', custody_types_path %>