 <p>
    <b>Pppams Issue Follow Up</b><br />
    <%= f.text_area :follow_up %>
  </p>
  
  <%= f.text_field :pppams_issue_id, :value => params[:pppams_issue_id], :style => 'display:none;' %>

  <p>
    <%= submit_tag "Save" %>
  </p>