<h1>Edit Pppams Issue Follow Up</h1>

<%= error_messages_for :pppams_issue_follow_up %>

<% form_for(:pppams_issue_follow_up, :url => pppams_issue_follow_up_path(@pppams_issue, @pppams_issue_follow_up), :html => { :method => :put }) do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', pppams_issue_follow_up_path(@pppams_issue, @pppams_issue_follow_up) %> |
<%= link_to 'Back', pppams_issue_path(@pppams_issue) %>