<p>
  <b>Pppams Issue Follow up:</b>
  <%=h @pppams_issue_follow_up.follow_up %>
</p>

<p>
  <b>Follow up date:</b>
  <%=h @pppams_issue_follow_up.created_on %>
</p>


<%= link_to 'Edit', edit_pppams_issue_follow_up_path(@pppams_issue) %> |
<%= link_to 'Back', pppams_issue_path(@pppams_issue) %>