<h1>Editing Employee Position</h1>

<%= error_messages_for :employee_position %>

<% form_for(:employee_position, :url => employee_position_path(@employee_position), :html => { :method => :put }) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', employee_position_path(@employee_position) %> |
<%= link_to 'Back', employee_positions_path %>