<p>
  <b>Position number:</b>
  <%=h @employee_position.position_number_id %>
</p>

<p>
  <b>Employee:</b>
  <%=h @employee_position.employee_id %>
</p>

<p>
  <b>Start date:</b>
  <%=h @employee_position.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @employee_position.end_date %>
</p>

<p>
  <b>Salary:</b>
  <%=h @employee_position.salary %>
</p>


<%= link_to 'Edit', edit_employee_position_path(@employee_position) %> |
<%= link_to 'Back', employee_positions_path %>