<h1>Editing Employee</h1>

<%= error_messages_for :employee %>

<% form_for(:employee, :url => employee_path(@employee), :html => { :method => :put }) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>