<h1>Update Position</h1>

<%= error_messages_for :position %>

<% form_for(:position, :url => position_path(@position), :html => { :method => :put }) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', position_path(@position) %> |
<%= link_to 'Back', "/" + (URI.parse(request.env['HTTP_REFERER']).path).split("/")[1] %>