<h1>New Position</h1>

<%= error_messages_for :position %>

<% form_for(:position, :url => positions_path) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
 

<%= link_to 'Back', positions_path %>