<h2>Collect Test</h2>
<p>
<% @questions.each_pair do |k,v| -%>
question: <%= k %> response: <%= v %><br />
<%  end -%>
</p>
<p>
<% @log.each_pair do |w,x| -%>
Category: <%= w %> Detail: <%= x %><br />
<%  end -%>
</p>
<p>Month: <%= @month %></p>
<p>Year: <%= @year %></p>
<p>Created By: <%= session[:user] %></p>
<p>Created On: <%= Time.now %></p>
<p>Facility: <%= session[:facility].id %></p>
