<% for column in PppamsReportFilter.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @pppams_report_filter.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @pppams_report_filter %> |
<%= link_to 'Back', :action => 'list' %>
