 <p>
    <b>Follow Up</b><br />
    <%= f.text_area :follow_up %>
  </p>

  <p>
    <b>Follow Up Date</b><br />
    <%= f.date_select :follow_up_date %>
  </p>

  <p>
    <b>Incident Number</b><br />
	 <%= f.text_field :incident_id, :value => @incident.id, :style => 'display:none;' %>
    <%= @incident.id %>
  </p>

  <p>
    <%= submit_tag "Save" %>
  </p>