<p>
  <b>Follow up:</b>
  <%=h @follow_up.follow_up %>
</p>

<p>
  <b>Follow up date:</b>
  <%=h @follow_up.follow_up_date %>
</p>


<%= link_to 'Edit', edit_follow_up_path(@incident) %> |
<%= link_to 'Back', incident_path(@incident) %>