<p>
  <b>Question:</b>
  <%=h @prompt.question %>
</p>

<p>
  <b>Description:</b>
  <%=h @prompt.description %>
</p>

<p>
  <b>Context:</b>
  <%=h @prompt.context_id %>
</p>

<p>
  <b>Used in total:</b>
  <%=h @prompt.used_in_total %>
</p>

<p>
  <b>Active:</b>
  <%=h @prompt.active %>
</p>


<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
<%= link_to 'Back', prompts_path %>