<%= error_messages_for 'pppams_category_group' %>

<!--[form:pppams_category_group]-->
<p><label for="pppams_category_group_name">Name</label><br/>
<%= text_field 'pppams_category_group', 'name'  %></p>
<!--[eoform:pppams_category_group]-->

