<h2>Edit Complaint</h2>

<%= error_messages_for :complaint %>

<% form_for(:complaint, :url => complaint_path(@complaint), :html => { :method => :put }) do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>