<%= error_messages_for 'pppams_category_base_ref' %>

<!--[form:pppams_category_base_ref]-->
<p><label for="pppams_category_base_ref_name">Name</label><br/>
<%= text_field 'pppams_category_base_ref', 'name'  %></p>
<!--[eoform:pppams_category_base_ref]-->

