<% for column in PppamsCategoryBaseRef.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @pppams_category_base_ref.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @pppams_category_base_ref %> |
<%= link_to 'Back', :action => 'list' %>
