<h1>Edit Non Comp Issue Follow Up</h1>

<%= error_messages_for :non_comp_follow_up %>

<% form_for(:non_comp_follow_up, :url => non_comp_follow_up_path(@non_comp_issue, @non_comp_follow_up), :html => { :method => :put }) do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', non_comp_follow_up_path(@non_comp_issue, @non_comp_follow_up) %> |
<%= link_to 'Back', non_comp_issue_path(@non_comp_issue) %>