<h2>Forgot Password</h2>
<p>Please enter your Private Prisons username to start the password recovery process.</p>
<fieldset>
    <% form_for(:user, :action => :forgot_password , :html => { :method => :put }) do |f| %>
    <p>
    	Username:
      <%=f.text_field :name %>
      <%= submit_tag "Submit" %>
    </p>
    <% end %>
</fieldset>
