<h2>Password Change</h2>

<%= error_messages_for :user %>

<% form_for(:user, :action => :reset_password , :html => { :method => :put }) do |f| %>

  <p>
    <%= session[:user] %>
  </p>

  <p>
    <b>New Password</b><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <b>Confirm New Password</b><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= submit_tag "Change" %>
  </p>
<% end %>
