<h2>Editing facility</h2>

<%= error_messages_for :facility %>

<% form_for(:facility, :url => facility_path(@facility), :html => { :method => :put }) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>