<%= error_messages_for 'pppams_indicator_base_ref' %>

<!--[form:pppams_indicator_base_ref]-->
<p><label for="pppams_indicator_base_ref_question">Question</label><br/>
<%= text_area 'pppams_indicator_base_ref', 'question'  %></p>
<!--[eoform:pppams_indicator_base_ref]-->

