<h1>Editing pppams_category</h1>

<% form_tag :action => 'update', :id => @pppams_category do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @pppams_category %> |
<%= link_to 'List', :action => 'list' %>
