<p>
  <b>Position:</b>
  <%=h @position_archive.position_id %>
</p>

<p>
  <b>Filled date:</b>
  <%=h @position_archive.filled_date %>
</p>

<p>
  <b>Vacant date:</b>
  <%=h @position_archive.vacant_date %>
</p>

<p>
  <b>Employee id exit:</b>
  <%=h @position_archive.employee_id_exit %>
</p>

<p>
  <b>Employee id start:</b>
  <%=h @position_archive.employee_id_start %>
</p>


<%= link_to 'Edit', edit_position_archive_path(@position_archive) %> |
<%= link_to 'Back', position_archives_path %>