<%= error_messages_for 'pppams_reference' %>

<!--[form:pppams_reference]-->
<p><label for="pppams_reference_name">Name</label><br/>
<%= text_field 'pppams_reference', 'name'  %></p>

<p><label for="pppams_reference_url">Url</label><br/>
<%= text_field 'pppams_reference', 'url'  %></p>

<input id = 'pppams_category_id' name = 'pppams_category_id' type='hidden' value='<%= params[:pppams_category_id] %>'>


