<h1>New PPPAMS Reference</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'show', :controller => 'pppams_categories', :id => params[:pppams_category_id] %>
