<h1>New Action Taken</h1>

<%= error_messages_for :action_type %>

<% form_for(:action_type, :url => action_types_path) do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', action_types_path %>