<p>
  <b>Action:</b>
  <%=h @action_type.action %>
</p>

<p>
  <b>Description:</b>
  <%=h @action_type.description %>
</p>


<%= link_to 'Edit', edit_action_type_path(@action_type) %> |
<%= link_to 'Back', action_types_path %>