<h1>Editing PPPAMS Indicator</h1>

<% form_tag :action => 'update', :id => @pppams_indicator do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Back', :action => 'show', :id => @pppams_indicator %> |
<%= link_to 'List', :controller => 'pppams_categories', :action => 'show', :id => @pppams_indicator.pppams_category_id %> 
