<% for column in PppamsIndicator.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @pppams_indicator.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @pppams_indicator %> |
<%= link_to 'Back', :controller => 'pppams_categories', :action => 'show', :id => @pppams_indicator.pppams_category_id %> 
