<h1>Editing context</h1>

<%= error_messages_for :context %>

<% form_for(:context, :url => context_path(@context), :html => { :method => :put }) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', context_path(@context) %> |
<%= link_to 'Back', contexts_path %>