<p>
  <b>Type:</b>
  <%=h @incident_type.incident_type %>
</p>

<p>
  <b>Description:</b>
  <%=h @incident_type.description %>
</p>


<%= link_to 'Edit', edit_incident_type_path(@incident_type) %> |
<%= link_to 'Back', incident_types_path %>