<h1>Edit Complaint Follow Up</h1>

<%= error_messages_for :complaint_follow_up %>

<% form_for(:complaint_follow_up, :url => complaint_follow_up_path(@complaint, @complaint_follow_up), :html => { :method => :put }) do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', complaint_follow_up_path(@complaint, @complaint_follow_up) %> |
<%= link_to 'Back', complaint_path(@complaint) %>