<% upload = @upload unless @upload.blank? %>
<% file_id = "uploaded_file_#{upload.id}" %>
<div class = 'file_type_<%= upload.file_type%> dragable_file' id='<%= file_id %>'>
<%= upload.name %>
</div>
<%= draggable_element(file_id, :revert=>true) %>
