<% for column in Upload.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @upload.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @upload %> |
<%= link_to 'Back', :action => 'list' %>
