<h1>Update Position Number</h1>

<%= error_messages_for :position_number %>

<p>
    <b>Facility</b><br />
	<%=@position_number.position.facility.facility%>
</p>

<% form_for(:position_number, :url => position_number_path(@position_number), :html => { :method => :put }) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', position_number_path(@position_number) %> |
<%= link_to 'Back', request.env['HTTP_REFERER'] %>