<h2>Edit Count</h2>

<%= error_messages_for :inmate_count %>

<% form_for(:inmate_count, :url => inmate_count_path(@inmate_count), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', inmate_count_path(@inmate_count) %> |
<%= link_to 'Back', inmate_counts_path %>