<h2>New Count</h2>

<%= error_messages_for :inmate_count %>

<% form_for(:inmate_count, :url => inmate_counts_path) do |f| %>
 <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', inmate_counts_path %>