<p>
  <b>Inmate count:</b>
  <%=h @inmate_count.inmate_count %>
</p>

<p>
  <b>Facility:</b>
  <%=h @inmate_count.facility_id %>
</p>

<p>
  <b>Count date:</b>
  <%=h @inmate_count.count_date %>
</p>


<%= link_to 'Edit', edit_inmate_count_path(@inmate_count) %> |
<%= link_to 'Back', inmate_counts_path %>