<table border=1 width='100%'>
	<tr align='center'>
		<td colspan=6>
			<h3><%= session[:type] %> Report - <%= (session[:facility]) ? session[:facility].facility : 'Administrative' %> - <%= Time.now().to_date %><h3>
		<td>
	</tr>
<%= render :partial => session[:type].downcase %>
</table>